:root {
  --green:#4CAF50;
  --orange:#FFC107;
  --light-orange:#fffcf4;
  --light-blue:#2196F3;
  --yellow:#FFEB3B;
  --red:#F44336;
  --light-green:#8BC34A;
  --light-yellow:#FFF176;

  --dark-green:#1B5E20;
  --black:black;
  --grey:grey;
  --blue:#3F51B5;

  /* Header */
  --header-color:var(--green); /* #679a23 === school logo color */
  --header-info-color:var(--light-orange);
  --header-shadow-color:var(--grey);

  /* Kasten */
  --kasten-background-color:var(--light-orange);
  --kasten-border-color:var(--grey);
  --kasten-fach-text-color:var(--black);
  --kasten-stunde-text-color:var(--kasten-fach-text-color);
  --kasten-raum-text-color:var(--dark-green);
  --kasten-klasse-background-color:var(--green);
  --kasten-klasse-border-color:var(--kasten-border-color);
  --kasten-ausfall-text-color:var(--red);
  --kasten-vertretung-text-color:var(--blue);
  --kasten-date-background-color:var(--light-orange);

  /* Klassenstufen */
  --no-grade-color:var(--grey);
  --grade-seven-color:var(--green);
  --grade-eight-color:var(--light-blue);
  --grade-nine-color:var(--yellow);
  --grade-ten-color:var(--red);
  --grade-eleven-color:var(--blue);
  --grade-twelve-color:var(--light-green);
  --grade-thirteen-color:var(--light-yellow);
}
