:root {
  --green:#4CAF50;
  --dark-green:#1B5E20;
  --orange:#FFC107;
  --light-orange:#FFF8E1;
  --black:black;
  --grey:grey;
  --red:#F44336;
  --blue:#3F51B5;

  /* Header */
  --header-color:var(--green); /* #679a23 === school logo color */
  --header-info-color:var(--light-orange);
  --header-shadow-color:var(--grey);

  /* Kasten */
  --kasten-background-color:var(--light-orange);
  --kasten-border-color:var(--grey);
  --kasten-fach-text-color:var(--dark-green);
  --kasten-stunde-text-color:var(--kasten-fach-text-color);
  --kasten-raum-text-color:var(--black);
  --kasten-klasse-background-color:var(--green);
  --kasten-klasse-border-color:var(--kasten-border-color);
  --kasten-ausfall-text-color:var(--red);
  --kasten-vertretung-text-color:var(--blue);
  --kasten-date-background-color:var(--orange);
}
