.header {
    width:100%;
    background-color:var(--header-color);
    -webkit-box-shadow: 0px 1px 10px var(--header-shadow-color);
            box-shadow: 0px 1px 10px var(--header-shadow-color);
    z-index:2;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
       -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}
.header-info {
    background-color:var(--header-info-color);
    -webkit-box-shadow: 0px 3px 10px var(--header-shadow-color);
            box-shadow: 0px 3px 10px var(--header-shadow-color);
    width:100%;
    white-space:nowrap;
    z-index:1;
    position:relative;
}
.info-container {
  overflow-x:auto;
  max-width:100%;
}
.header-img {
  height:100px;
}
.info-button {
  font-size:2rem;
  font-weight:900;
  width:35px;
  height:35px;
  text-align:center;
  margin-right:20px;
  border:2px solid black;
  -webkit-box-shadow:0 0 4px black;
          box-shadow:0 0 4px black;
  border-radius:40px;
  color:var(--green);
  background-color:white;
  cursor:pointer;
  user-select:none;
  line-height:36px;
  display:none;
}
.dropdown-label {
  font-size:1.5em;
  margin-left:25px;
}
.klassendropdown {
  font-size:.9em;
}
#text-klassenstufe {
  font-size:3.4em;
  line-height:100px;
  margin-left:25px;
  font-weight:800;
}
@media (max-width:600px) {
  .header {
    height:50px;
  }
  .dropdown-label {
    font-size:1.2em;
    line-height:50px;
  }
  .header-img {
    display:none;
  }
  .header-info {
    display:none;
  }
  .info-button {
    display:inline;
  }
}