.header {
    width:100%;
    height:100px;
    background-color:#444444;
}
.header-info {
    width:100%;
    height:30px;
    background-color:orangered;
}
.header-img {
  height:100px;
  float:right;
}
