.header {
    width:100%;
    height:75px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    background-color:#15781B;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
    z-index:2;
}
.time {
    height:75px;
    margin-left:15px;
    position:relative;
    color:#fff;
    text-align:center;
    line-height:75px;
    font-size:50px;
    font-weight:600;
}
.title {
    width:100%;
    height:75px;
    position:absolute;
    color:#4CAF52;
    text-align:center;
    line-height:75px;
    font-size:50px;
    font-weight:300;
}
.dropdown-wrapper {
    width:100%;
    height:75px;
    position:absolute;
}
.class-select {
    width:100px;
    height:45px;
    margin-top:15px;
    margin-right:50px;
    float:right;
    background-color:#4CAF52;
    border:none;
    border-radius:4px;
    color:#fff;
    font-size:25px;
    font-weight:600;
    outline:none;
    text-align-last:center;
    line-height:45px;
    -webkit-appearance: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.class-select:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.class-select > option {
    width:100px;
    height:30px;
    border:none;
    border-radius:4px;
    outline:none;
}










/*.header-info {
    background-color:var(--header-info-color);
    -webkit-box-shadow: 0px 2px 5px var(--header-shadow-color);
            box-shadow: 0px 2px 5px var(--header-shadow-color);
    width:100%;
    white-space:nowrap;
    z-index:1;
    position:relative;
}
.info-container {
  overflow-x:auto;
  max-width:100%;
}
.header-img {
  height:100px;
}
.info-button {
  font-size:2rem;
  font-weight:900;
  width:35px;
  height:35px;
  text-align:center;
  margin-right:20px;
  border:2px solid black;
  -webkit-box-shadow:0 0 4px black;
          box-shadow:0 0 4px black;
  border-radius:40px;
  color:var(--green);
  background-color:white;
  cursor:pointer;
  user-select:none;
  line-height:36px;
  display:none;
}
.dropdown-label {
  font-size:1.5em;
  margin-left:25px;
}
.klassendropdown {
  font-size:.9em;
}
#klassenstufe {
  height:100%;
  display:flex;
  align-items:center;
}
#text-klassenstufe {
  font-size:3.4em;
  font-weight:800;
  margin-left:25px;
}
@media (max-width:600px) {
  .header {
    height:50px;
  }
  .dropdown-label {
    font-size:1.2em;
    line-height:50px;
  }
  .header-img {
    display:none;
  }
  .header-info {
    display:none;
  }
  .info-button {
    display:inline;
  }
}
@media (max-width:720px) {
  #label-klassenstufe {
    display:none;
  }
  #text-klassenstufe {
    font-size:2em;
  }
}*/