.plan-body {
  display:flex;
  flex-direction:row;
}
#left-side {
  min-width:200px;
  max-width:200px;
  border-right:2px solid var(--green);
  box-shadow:1px 0px 10px var(--header-shadow-color);
}
#info-text {
  margin:10px;
}
.kasten-container {
    width:auto;
    height:80vh;
    position:relative;
    padding:10px;
    overflow-y:auto;
}
.kasten {
    margin:2px;
    display:inline-block;
    vertical-align:top;
    padding:2px;
    /*box-shadow:1px 1px 5px grey;*/
    border:2px solid var(--kasten-border-color);
    background-color:var(--kasten-background-color);
}
.info-kasten {
  display:inline-block;
  vertical-align:top;
  border:1px solid var(--kasten-border-color);
  max-width:300px;
  max-height:85px;
  padding:5px;
  overflow:hidden;
  white-space:normal;
}
.info-date {
  color:var(--blue);
}
.top {
  display:inline-block;
  width:100%;
  border-bottom:1px solid var(--grey);
}
.middle {
  max-width:250px;
  padding-left:5px;
  padding-right:5px;
}
.bottom {
  padding-left:5px;
  padding-right:5px;
  margin-top:5px;
}
.kasten-fach {
    float:left;
    /*background-color:#999999;*/
    font-size:1.2em;
    padding:5px;
    color:var(--kasten-fach-text-color);
}
.kasten-stunde {
    float:right;
    /*background-color:#888888;*/
    font-size:1.2em;
    padding:5px;
    color:var(--kasten-stunde-text-color);
}
.kasten-raum {
    float:left;
    margin-left:2px;
    margin-right:2px;
    padding-top:7px;
    /*background-color:#666666;*/
    color:var(--kasten-raum-text-color);
}
.kasten-art {
    float:left;
    width:100%;
    /*background-color:#777777;*/
}
.klasse {
  font-size:2em;
}
.klasse p {
  margin:0;
  margin-top:-5px;
  padding:5px;
}
.ausfall {
  color:var(--kasten-ausfall-text-color);
}
.vertretung {
  color:var(--kasten-vertretung-text-color);
}
.date {
  background-color:var(--kasten-date-background-color);
  display:block;
  font-size:1.5em;
  margin-top:50px;
  margin-bottom:20px;
  box-shadow:5px 5px 10px var(--header-shadow-color);
}
.date:first-child {
  margin-top:10px;
}
.date p {
  margin:12px;
}

.no-grade {
  background-color:var(--no-grade-color);
}
.grade-seven {
  background-color:var(--grade-seven-color);
}
.grade-eight {
  background-color:var(--grade-eight-color);
}
.grade-nine {
  background-color:var(--grade-nine-color);
}
.grade-ten {
  background-color:var(--grade-ten-color);
}
.grade-eleven {
  background-color:var(--grade-eleven-color);
}
.grade-twelve {
  background-color:var(--grade-twelve-color);
}
.grade-thirteen {
  background-color:var(--grade-thirteen-color);
}

.no-grade-border {
  border-color:var(--no-grade-color);
}
.grade-seven-border {
  border-color:var(--grade-seven-color);
}
.grade-eight-border {
  border-color:var(--grade-eight-color);
}
.grade-nine-border {
  border-color:var(--grade-nine-color);
}
.grade-ten-border {
  border-color:var(--grade-ten-color);
}
.grade-eleven-border {
  border-color:var(--grade-eleven-color);
}
.grade-twelve-border {
  border-color:var(--grade-twelve-color);
}
.grade-thirteen-border {
  border-color:var(--grade-thirteen-color);
}
