.kasten-container {
    width: auto;
    height: auto;
    margin-top:4px;
    position: relative;
}
.kasten {
    margin-left:4px;
    margin-right:-4px;
    display:inline-block;
    background-color:#E26D5C;
}
.kasten-fach {
    float:left;
    /*background-color:#999999;*/
    background-color:#456789;
}
.kasten-fach-text {
    color:#ffffff;
    text-align:center;
    font-weight:700;
    font-size:5em;
    line-height:-2em;
}
.kasten-stunde {
    float:right;
    /*background-color:#888888;*/
    background-color:#456789;
}
.kasten-stunde-text {
    color:#ffffff;
    text-align:center;
    font-weight:700;
}
.kasten-raum {
    float:left;
    /*background-color:#666666;*/
}
.kasten-hinweis {
    float:left;
    /*background-color:#777777;*/
}