.plan-body {
    background-color:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
}
.kasten-container {
    width:100%;
    top:115px;
    bottom:0px;
    position:absolute;
    overflow-y:auto;
}
.kasten {
    height:60px;
    margin:2px;
    display:inline-block;
    background-color:#fefefe;
    /*border-radius:3px;*/
    vertical-align:top;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.date {
    width:100%;
    height:42px;
    top:10px;
    margin-top:45px;
    margin-bottom:20px;
    margin-left:0px;
    margin-right:0px;
    padding:5px;
    display:block;
    position:relative;
    border-radius:0px;
    /*background-color:#2D9434;*/
    background-color:#4CAF52;
}
.date:first-child {
    margin-top:10px;
}
.date p {
    margin:12px;
    color:#fff;
    font-size:18px;
    font-weight:300;
}
.klasse {
    width:60px;
    height:60px;
}
.klasse p {
    width:60px;
    height:60px;
    margin:0;
    text-align:center;
    line-height:60px;
    color:#fff;
    font-size:30px;
    font-weight:600;
}
.top {
    width:auto;
    height:30px;
    padding-left:7px;
    padding-right:7px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    border-bottom:1px solid #efefef;
    color:#000;
    line-height:30px;
    font-size:18px;
    font-weight:400;
    justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.middle {
    height:29px;
    padding-left:7px;
    padding-right:7px;
    line-height:29px;
    font-size:16px;
    font-weight:300;
}
.kasten-raum {
    margin-left:5px;
    margin-right:5px;
}
.no-grade {
    background-color:#34495e;
}
.grade-seven {
    background-color:#1abc9c;
}
.grade-eight {
    background-color:#2ecc71;
}
.grade-nine {
    background-color:#3498db;
}
.grade-ten {
    background-color:#9b59b6;
}
.grade-eleven {
    background-color:#f1c40f;
}
.grade-twelve {
    background-color:#e67e22;
}
.grade-thirteen {
    background-color:#e74c3c;
}